# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE or Editor
.vscode/
.idea/
*.swp
